html {
     background-color: #D72DD6;
  font-family: 'Dancing Script', cursive; /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #D72DD6;
  text-shadow: 10px 3px 5px black;
  font-size: 60px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

p, li {
  font-size: 16px;    
  line-height: 3;
  letter-spacing: 1px;
}